@import url("https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Mitr:200,300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=thai");

/* Global Style */
body {
  padding: 0px;
  margin: 0px;
}

.blue {
  display: inline;
  color: #389fff;
}

h1,
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Navbar */
.navbar {
  width: 100%;
  border-bottom: 0.5px solid #ddd;
  background-color: #fff;
  position: fixed;
  display: block;
  flex-wrap: wrap;
  top: 0;
  z-index: 1112;
}

.navbar-brand {
  font-family: "Raleway", sans-serif;
  padding: 10px 40px;
  display: inline-block;
  font-weight: 500;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
.navbar-brand:focus {
  outline: none;
}

.navbar-brand > img {
  height: 30px;
  display: inline-block !important;
  vertical-align: top !important;
}

/* Header */
.wrapper {
  margin: 0 auto;
  width: 75%;
}

#header {
  padding-top: 15%;
  padding-bottom: 30%;
}

#header-text {
  position: absolute;
  left: 15%;
  width: 35%;
}

#header-logo {
  position: absolute;
  right: 20%;
  width: 20%;
}

#header-content {
  font-family: "Kanit", sans-serif;
  position: absolute;
  font-weight: 200;
  font-size: 1.5em;
  left: 18%;
  margin-top: 15%;
}

/* Why Python */
#why-python {
  width: 100%;
  padding-top: 10%;
  background: url(../img/curve.svg), none;
  background-repeat: no-repeat;
}

#why-python-content {
  background-color: #f0f3fe;
  width: 100%;
}

#why-python-content > h1 {
  font-family: "Kanit", sans-serif;
  font-size: 4em;
  font-weight: 300;
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

#why-python-container {
  display: flex;
  background-color: #f0f3fe;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
  padding-bottom: 6em;
}

#why-python-container > div {
  text-align: center;
  flex: 1 1;
}

#why-python-container > div:first-child > p {
  margin-left: 30%;
  text-indent: 3em;
  text-align: justify;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-size: 1.2em;
}

#why-python-container > div:last-child > img {
  width: 80%;
}

#why-python-bottom {
  position: absolute;
  margin-left: 2em;
  margin-top: -42px;
}

#why-python-bottom > img {
  width: 200px;
}

#before-start {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 8em;
  background: #003a71 url("../img/before.svg") no-repeat;
  background-size: cover;
}

#before-start-title {
  width: 100%;
  padding: 1.5em 0;
  text-align: center;
  color: #fff;
  margin-bottom: 1em;
}

#before-start-title > h1,
h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}

#before-start-title > h1 {
  font-size: 2.5em;
}

#before-start-title > h2 {
  font-size: 2.1em;
}

#before-start-content {
  display: grid;
  grid-template-areas: "a a a";
}

#before-start-content-box {
  font-family: "Kanit", sans-serif;
  padding: 0 1em;
  text-align: center;
}

#before-start-content-box:first-child {
  padding-left: 2em;
}

#before-start-content-box:last-child {
  padding-right: 2em;
}

#before-start-content-box > h1 {
  font-size: 1.8em;
  font-weight: 300;
}

#before-start-content-box > p {
  color: #fff;
  font-weight: 100;
}

#before-start-content-line {
  width: 100%;
  min-height: 2px;
  margin: 0.5em 0;
  background-color: #fff;
}

/* Lectures */

#lecture {
  width: 100%;
  padding: 3em 0 6em 0;
}

#lecture-title {
  width: 100%;
  padding: 1.5em 0;
  text-align: center;
  color: #636363;
  margin-bottom: 1em;
}

#lecture-title > h1,
h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}

#lecture-title > h1 {
  margin-top: -0.4em;
  margin-bottom: 0.5em;
  font-size: 5em;
}

#lecture-title > h2 {
  font-size: 2.1em;
}

#lecture-title > h2 > div {
  display: inline;
}

.lecture-chapter-title {
  width: 70%;
  margin: 0.5em auto;
  font-family: "Kanit", sans-serif;
  color: #636363;
  font-size: 2em;
  font-weight: 200;
}

.lecture-chapter-grid {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "a a a";
}

.lecture-chapter-box {
  margin: 1em;
  text-align: center;
  box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.25);
  border-top: solid 1.5em;
  text-decoration: none;
  color: #000;
  border-radius: 1em;
}

.lecture-chapter-box:visited,
.lecture-chapter-box:focus {
  text-decoration: none;
  color: #000;
  outline: none;
}

.lecture-chapter-box > p {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-size: 1.3em;
}

.lecture-chapter-box > img {
  margin-top: 1.5em;
  margin-bottom: -10px;
  width: 33%;
}

.lecture-chapter-box-1 {
  border-top-color: #389fff;
}

.lecture-chapter-box-2 {
  border-top-color: #00ccba;
}

.lecture-chapter-box-3 {
  border-top-color: #f598eb;
}

.lecture-chapter-box-4 {
  border-top-color: #f598eb;
}

.lecture-chapter-box-5 {
  border-top-color: #f598eb;
}

.lecture-chapter-box-6 {
  border-top-color: #f598eb;
}

@media (min-width: 1200px) {
  .lecture-chapter-grid {
    grid-template-areas: "a a a a";
  }
}

@media (max-width: 800px) {
  .lecture-chapter-grid {
    grid-template-areas: "a a";
  }
}

@media (max-width: 440px) {
  .lecture-chapter-grid {
    grid-template-areas: "a";
  }
}

/* Footer */
#footer {
  color: #fff;
  font-family: "Raleway", sans-serif;
  background-color: #003a71;
  display: grid;
  grid-template-areas: "a a a";
  align-items: center;
  height: 100px;
}

#footer > .child:first-child {
  padding-left: 2em;
}

#footer > .child:first-child > div {
  display: inline;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.kanit {
  font-family: "Kanit", sans-serif;
}

.mitr {
  font-family: "Mitr", sans-serif;
}
